.dropDown_trinksCombo { position: absolute; box-shadow: #AAA 4px 4px 8px; z-index: 1000; background: #FFFFFF; max-height: 300px; overflow: auto; }
    .dropDown_trinksCombo table { border-spacing: 0; border-collapse: collapse; width: 100%; }
    .dropDown_trinksCombo td, .dropDown_trinksCombo th { border: 1px solid #DDD; padding: 3px 5px; }
    .dropDown_trinksCombo th { font-weight: bold; }
    .dropDown_trinksCombo tbody tr.active { background-color: #9dd2ff; cursor: pointer; color: #000 !important; }
    .dropDown_trinksCombo .empty { padding: 10px; }
.filter_trinksCombo { background: #ffffff; }
    .filter_trinksCombo.empty_trinksCombo { background: #FFFFFF url(ico-search.png) 99% center no-repeat; }
